{% load static %}
{% load custom_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href={% static 'css/style.css' %} rel="stylesheet">
</head>

<body class="text-center">
<div class="container my-5 justify-content-center align d-flex">
    <div class="col-5">

        {% include "partials/messages.html" %}

        <form class="form-signin" method="POST" action={% url "signup" %}>
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                     width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign up labels</h1>
            </div>

            <div class="form-row justify-content-between">
                <div class="form-label-group">
                    {{ form.firstname|addcss:"form-control" }}
                    <label for="id_firstname">Firstname</label>
                </div>
                <div class="form-label-group">
                    {{ form.lastname|addcss:"form-control" }}
                    <label for="id_lastname">Lastname</label>
                </div>
            </div>


            <div class="form-label-group">
                {{ form.email|addcss:"form-control" }}
                <label for="id_email">Email address</label>
            </div>

            <div class="form-label-group">
                {{ form.password1|addcss:"form-control" }}
                <label for="id_password1">Password</label>
            </div>
            <div class="form-label-group">
                {{ form.password2|addcss:"form-control" }}
                <label for="id_password2">Confirm password</label>
            </div>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
        </form>


    </div>
</div>
</body>
</html>
